CONFIG_VENDOR=SERCOMM
CONFIG_PRODUCT=MT7620
CONFIG_FIRMWARE_PRODUCT_ID="RT-S1010"
CONFIG_FIRMWARE_CPU_620MHZ=y
CONFIG_FIRMWARE_WIFI5_DRIVER=3.0
CONFIG_FIRMWARE_WIFI2_DRIVER=2.7
CONFIG_FIRMWARE_ENABLE_IPV6=y
CONFIG_FIRMWARE_INCLUDE_SHORTCUT_FE=y
CONFIG_FIRMWARE_INCLUDE_LANG_RU=y
CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=y
CONFIG_FIRMWARE_INCLUDE_DDNS_SSL=y
CONFIG_FIRMWARE_INCLUDE_HTTPS=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=y
CONFIG_FIRMWARE_INCLUDE_AMNEZIAWG=y
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y
CONFIG_FIRMWARE_INCLUDE_CA_CERT=y
CONFIG_FIRMWARE_INCLUDE_NETFILTER_MOD_EXTRA=y
CONFIG_FIRMWARE_INCLUDE_CURL=y
CONFIG_FIRMWARE_INCLUDE_ZRAM=y
CONFIG_FIRMWARE_INCLUDE_SOCAT=y
CONFIG_FIRMWARE_INCLUDE_EOIP=y
CONFIG_FIRMWARE_INCLUDE_NFQWS=y
CONFIG_FIRMWARE_INCLUDE_DOH=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
